/* PROJECTS */
.carousel-item {
  width: 40rem !important;
  height: max-content !important;
  margin: 0 auto;
  position: relative;
}
.carousel-item .col {
  padding: 0 !important;
}

.carousel {
  height: 75rem !important;
  display: flex;
  align-items: center;
}
.carousel-help {
  width: 100%;
  font-size: 1.6rem;
  text-align: center;
  color: rgb(148, 148, 148);
}

#project {
  margin-bottom: 0rem;
}
.role {
  color: #b71c1c;
  font-size: 1.4rem;
  font-weight: bolder;
  padding-bottom: 1rem;
}

@media only screen and (max-width: 992px) {
  .card-header :first-child {
    margin-right: 0.5rem;
  }
  .card-header {
    flex-direction: column;
    align-items: flex-start;
  }

  blockquote {
    font-size: 2.5rem;
  }

  .section__header {
    padding: 1rem 3rem;
  }
}

@media only screen and (max-width: 850px) and (orientation: landscape) {
  .carousel {
    height: 80rem !important;
  }
}

@media only screen and (max-width: 460px) {
  .carousel-item,
  .carousel-item .card {
    width: 30rem !important;
    transform: translateX(0.4rem);
  }
  .card-content {
    padding: 1.5rem;
  }
}
