/* Contact */
#contact {
  min-height: 100vh;
}
.contact-info {
  margin: 0 auto 3rem 4rem;
}
.contact-info > * {
  display: flex;
  align-items: center;
  font-size: 1.75rem;
}
.contact-info > svg {
  width: 5rem;
}
.icon {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  margin-right: 2rem;
}

@media only screen and (max-width: 460px) {
  /* Contact */
  .contact-info {
    margin: 0 0 3rem 0;
  }
  .contact-info svg {
    width: 3rem;
  }
}
