/**********************************/
/*            Header              */
/**********************************/
header {
  max-width: 100%;
  overflow: hidden;
}

.header__container {
  color: rgb(255, 255, 255);
  justify-content: center;
  background: linear-gradient(to top, #0d47a1, #2196f3, #7bcfff);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

.header__intro:not(.header__intro--name) {
  height: 100vh;
  position: relative;
}
.header__intro--greet,
.header__intro--name {
  font-size: 4.5rem;
}
.header__intro--greet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Header text animation*/
.text {
  position: absolute;
  width: 450px;
  left: 50%;
  margin-left: -225px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  display: flex;
  /* justify-content: start; */
}

header p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  text-shadow: 1px 1px 3px rgb(116, 116, 116);
}

.word {
  position: absolute;
  width: 30rem;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  /* float: left; */
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.first {
  color: #ea2027;
}

.second {
  color: #fdd835;
}

.third {
  color: #4cd137;
}

.fourth {
  color: #ffab00;
}

#about::before {
  content: "";
  position: absolute;
  left: -30rem;
  height: 100vh;
  background-color: rgb(0, 162, 255);
  width: 30rem;
}

/**********************************/
/*         Scroll down            */
/**********************************/

.downArrow {
  position: absolute;
  bottom: 8rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  /* justify-items: center; */
  text-align: center;
  /* margin: 0 auto; */
  /* left: 50%;
  transform: translate(-50%, -50%); */
}
.downArrow p {
  font-size: 1.5rem;
}

.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@media only screen and (max-width: 992px) {
  .header__intro--greet,
  .header__intro--name {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 550px) {
  /* Header*/
  .header__intro > .text {
    font-size: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
  .word-group {
    transform: translateX(-16rem);
  }
  .section__container {
    max-width: 90%;
  }
}
