/**********************************/
/*            Side Nav            */
/**********************************/

.profile {
  background-image: url(../../assets/img/profile_640x480.jpg);
  background-size: cover;
  background-position: center;
  height: 30vh;
  display: flex;
  align-items: flex-end;
}

#sideNav li {
  width: 100%;
}
.sidenav .divider {
  margin: 0 !important;
  background-color: rgb(0, 162, 255);
  height: 3px;
}

#divider-nav {
  background-color: rgb(0, 162, 255);
  margin-top: 5px;
  height: 3px;
}
.currentMenu,
.currentMenu * {
  color: rgb(0, 162, 255) !important;
}
.bye {
  color: red;
}
