.collapsible-body {
  line-height: 1.75;
}
.how-header {
  color: rgb(143, 143, 143);
}
.card-left {
  width: 30rem;
}
.card-img-edu {
  width: 10rem;
  margin: 1.5rem auto 0 auto;
}
.card-restyle-edu {
  box-shadow: none !important;
  border-left: 2px rgb(0, 162, 255) solid;
  margin-top: 0;
  margin: 0 auto !important;
}
.moving-icon {
  transform: translate(-2rem, 1rem);
}
.icon-bg {
  background-color: rgb(255, 255, 255);
}
.ta img {
  max-width: 10rem;
  margin-right: 1rem;
  border-radius: 50%;
}
.comment {
  display: flex;
  font-size: 1.3rem;
}
