*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
html {
  font-size: 62.5%;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

body {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  max-width: 100%;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

/**********************************/
/*            Utility              */
/**********************************/
/*
.no-margin {
  margin: 0;
}
.inside-center {
  display: flex;
  justify-content: space-between;
}
.max-width {
  width: 100% !important;
}

.margin-top-3 {
  margin-top: 3rem;
}
.margin-bottom-3 {
  margin-bottom: 3rem;
}
.margin-bottom-15 {
  margin-bottom: 15rem;
}
blockquote {
  border-left-color: rgb(0, 162, 255);
}
.line-height-m {
  line-height: 1.75;
}
.no-max-height {
  max-height: none;
} */
